<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="urlForecastQas" value="http://forecasting-integracion-qas.somosbelcorp.com/IntegradorForecastService.svc/InvokeForecastingService" />
		<add key="urlForecastPrd" value="http://forecasting-integracion.belcorpnewapps.com/IntegradorForecastService.svc/InvokeForecastingService" />
	</appSettings>
	 
</configuration>